$light-blue: #6295BD;
$dark-blue: #448DB7;

html, body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-width: 300px;
  color: #ffffff;
  background: url("/assets/images/bg-soon.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  text-align: center;
  padding-top: 92px;
  padding-bottom: 50px;
}

.container.main {
  position: relative;
  text-align: center;
  color: #F5F5F5;

  .title {
    h1 {
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
      font-weight: 300;
      letter-spacing:2px;
    }

    p.border {
      margin: 0 17% 0 17%;
      border-bottom:1px solid #8A8B98;
      //box-shadow: 0 0px 20px 5px #8A8B98;
    }
    background: url("/assets/images/shadow.png") no-repeat center center;
    background-size: 80%;
  }

  p.lead {
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #8A8B98;
  }

  form {
    font-weight: 200;

    h4 {
      font-weight: 300;
      font-size: 20px;
    }

    .step {
      span.or {
        text-transform: uppercase;
        margin: 0 30px 0 30px;
        font-size: 20px;
      }
      &.gender .btn {  width: 100px;  }
      &.hairdresser .btn {  width: 300px;  }
      &.pro .btn {  width: 200px;  }
      &.salon .btn {  width: 170px;  }
    }


    .email {
      text-align: center;
      width: 100%;

      .input-group-addon {
        width: 30px;
        padding: 20px;
        background-color: $dark-blue;
        border-color: $dark-blue;
        font-size: 16px;
        color: white;
        background-image: url("/assets/images/mail.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
      }

      .input-group {
        width: 60%;
      }

      input {
        border-radius: 0 6px 6px 0 !important;
      }

      .btn-dark-blue {
        margin-left: 20px;
      }

      span.form-control-feedback {
        right: -5px;
      }
    }
  }

}

.btn-blue {
  @extend .btn;
  @extend .btn-default;
  color: #FBFBFB;
  background-color: $light-blue;
  border-color: $light-blue;
  border: none;
  padding: 13px 18px 13px 18px;
  font-weight: 200;
  letter-spacing: 0.7px;
  font-size: 15px;

  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;

  &:hover {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  }
}

.btn-dark-blue {
  @extend .btn;
  @extend .btn-default;
  color: #FBFBFB;
  background-color: $dark-blue;
  border-color: $dark-blue;
  border: none;
  padding: 14px 18px 15px 18px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 15px;

  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;

  &:hover {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  }

  &:disabled {
    color: #FBFBFB;
    background-color: $dark-blue;
    border-color: $dark-blue;
    border: none;
  }

}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen  and (min-width: 340px)and (max-width: 768px) {
  header {
    padding-top: 30px;
    img {
      max-width: 150px;
    }
  }

  .title h1 {
    font-size: 45px !important;
  }

  p.border {
    margin: 0 10% 0 10%;
  }

  .step .btn.btn-blue {
    width: 80% !important;
    padding: 13px 5px 13px 5px !important;
  }

  .email .input-group {
    margin: 0 10% 5% 10%;;
    width: 90% !important;
  }
}

@media screen and (max-width: 340px) {
  header {
    padding-top: 30px;
    padding-bottom: 0px;
    img {
      max-width: 100px;
    }
  }

  .title h1 {
    font-size: 30px !important;
  }

  p.border {
    margin: 0 10% 0 10%;
  }


  .step .btn.btn-blue {
    width: 80% !important;
    font-size: 12px;
    padding: 13px 5px 13px 5px !important;
  }

  .email .input-group {
    margin: 0 10% 5% 10%;;
    width: 90% !important;
  }

  .footer {
    position: relative;
  }
}